<html>
    <head>
        <title>home</title>
    </head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <body>
        <nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">Navbar</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                  <a class="nav-link active" aria-current="page" href="#">Home</a>
                  <a class="nav-link" href="#">Features</a>
                  <a class="nav-link" href="#">Pricing</a>
                </div>
              </div>
            </div>
        </nav>

        {% if messages %}
        <div style="width:500; margin:auto; margin-top:5px;">
         <ul class="messages">
          {% for message in messages %}
           <li{% if message.tags %} class="{{ message.tags }}"{% endif %}><h3>{{ message }}</h3></li>
          {% endfor %}
        </ul>
        </div>
        {% endif %}

        <div style="width:500; margin:auto; margin-top:30px;">
        <form action='{% url 'createstu' %}' method='POST'>
            <div class="mb-2">
              <label for="exampleInputEmail1" class="form-label">Name of Student</label>
              <input type="text" class="form-control" name='name' id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-2">
              <label for="exampleInputPassword1" class="form-label">Roll Number</label>
              <input type="number" class="form-control" name='roll' id="exampleInputPassword1">
            </div>
            <div class="mb-2">
                <label for="exampleInputPassword1" class="form-label">Address</label>
                <input type="text" class="form-control" name='city' id="exampleInputPassword1">
            </div>
            <div class="mb-2">
                <label for="exampleInputPassword1" class="form-label">Rank</label>
                <input type="text" class="form-control" name='position' id="exampleInputPassword1">
            </div>
            
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
        
        <div style="width:1000; margin:auto; margin-top:30px;">
        <hr>
        <h3>Information of Student </h3>
        <hr>
        <table class="table" >
            <thead>
              <tr>
                <th scope="col">id</th>
                <th scope="col">Nmae</th>
                <th scope="col">Roll Number</th>
                <th scope="col">Address</th>
                <th scope="col">Rank</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
            {% for n in data%}
              <tr>
                <th scope="row">{{n.id}}</th>
                <td>{{n.name}}</td>
                <td>{{n.roll}}</td>
                <td>{{n.city}}</td>
                <td>{{n.position}}</td>
                <td>
                    <button type="button" class="btn btn-info">Edit</button>
                   <a href="{% url 'delete' n.id %}"> <button type="button" class="btn btn-danger">Danger</button></a>
                </td>    
              </tr>
            {% endfor %}           
            </tbody>
          </table>
        </div>

            
    </body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

</html>
    

